<h1><i class="fa fa-cog"></i>List of cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>

</ul>

<%= link_to "add a new cocktail", new_cocktail_path %>
